#timer {
  font-size: 150px;
  text-align: center;
  font-family: "Lucida Console";
  font-weight: bold;
  text-shadow: 5px 5px gray;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
}
